<?xml version="1.0"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <OutputFolder>./</OutputFolder>
  <WikiUrl>http://wiki.garrysmod.com/</WikiUrl>
  <AlwaysOverwrite>true</AlwaysOverwrite>
  <WantedType Name="IFileSystem" HeaderFile="./sourcesdk-minimal/public/filesystem.h" InterfaceVersion="VFileSystem022" ModuleName="FileSystem_Stdio" />
  <WantedType Name="IServerGameDLL" HeaderFile="./sourcesdk-minimal/public/eiface.h" InterfaceVersion="ServerGameDLL008" ModuleName="server" />
  <WantedType Name="IVEngineServer" HeaderFile="./sourcesdk-minimal/public/eiface.h" InterfaceVersion="VEngineServer021" ModuleName="engine" />
  <WantedType Name="IServer" HeaderFile="./sourcesdk-minimal/public/IServer.h" />

  <WantedType Name="ILuaInterface" HeaderFile="./garrysmod_common/include/GarrysMod/Lua/LuaInterface.h" />
  <WantedType Name="ILuaShared" HeaderFile="./garrysmod_common/include/GarrysMod/Lua/LuaShared.h" InterfaceVersion="LUASHARED003" ModuleName="lua_shared" />

  <WantedType Name="file" LuaLibraryLocation="file" />
  <WantedType Name="math" LuaLibraryLocation="math" />
  <WantedType Name="string" LuaLibraryLocation="string" />
  <Include>./sourcesdk-minimal/common</Include>
  <Include>./sourcesdk-minimal/game</Include>
  <Include>./sourcesdk-minimal/lib</Include>
  <Include>./sourcesdk-minimal/mathlib</Include>
  <Include>./sourcesdk-minimal/public</Include>
  <Include>./sourcesdk-minimal/raytrace</Include>
  <Include>./sourcesdk-minimal/tier1</Include>
  <Include>./sourcesdk-minimal/utils</Include>
</Configuration>